# Dependencies
node_modules/
package-lock.json

# Build and production files
dist/
build/

# Environment variables
.env

# Logs and debugging
npm-debug.log
yarn-error.log

# Editor files
.vscode/
.idea/
.DS_Store  # macOS hidden file
package.json